#### Update only the SCRIPTS/ DIR at present ####
/0.RAW-DATA
/1.PREPROCESS-DATA
/2.FEATURES
/3.EXPERIMENTS
/Compare
/NewTests
/STATUS
/utils
/softwares
**/recipes
**/network
**/workflow_scripts

#### Ignore all the log file ####
*.log
*.out

#### Ignore python cache and vscode cache ####
__pycache__
.vscode

#### Ignore all the config-files except the example.json for each configJSON dir ####
*.json
!*example.json

#### Ignore aborted feature-engineering methods
fftGet(aborted).py

#### Ignore all the pics ####
*.png
!**/suppl-pics/fig*

#### Ignore util-shell-script ####
*.sh
!**/workflow-scripts/training/*.sh
!**/workflow-scripts/prediction/*.sh


#### Ignore all the log file ####
*.log